<div id="grid">
        
  <div class="backimage" style="background-image: url('/assets/images/cake_chocolate.jpg');"></div>
  
  <nav class="navbar">
      <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fas fa-bars"></i>
      </span>
      <div class="brand">
          <a href="#" class="logo">logo</a>
          <p class="title">Piece A' Cake</p>
      </div>
      <ul class="main-nav" id="js-menu">
          <li>
              <a href="#" class="nav-links">Home</a>
          </li>
          <li>
              <a href="#" class="nav-links">Products</a>
          </li>
          <li>
              <a href="#" class="nav-links">About Us</a>
          </li>
          <li>
              <a href="#" class="nav-links">Contact Us</a>
          </li>
          <li>
              <a href="#" class="nav-links">Blog</a>
          </li>
      </ul>
  </nav>

  <main class="HeroSection" id="item">
      <div class="HeroContainer">
          <h1>Piece A' Cake</h1>
          <p>Your All In One Shopping Service</p>
          <div class="HeroButtons">
              <a routerLink="/registration" class="normbutton">Sign Up</a>
              <a class="hollowbutton">Learn More</a>
          </div>
      </div>
  </main>

  <section class="section-a" id="item">
      <div class="section-a-header">
          <h1 class="section-a-title">What We Do</h1>
          <h2 class="section-a-subtitle">We cut out the middleman to make your life easier!</h2>
      </div>
      <div class="section-a-cards">
          <div class="card">
              <!-- <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="far fa-search fa-stack-1x fa-inverse"></i>
                </span> -->
                <!-- <i class="far fa-search fa-4x"></i> -->
                <fa-layers [fixedWidth]="true" size="5x">
                    <fa-icon [icon]="['fas', 'circle']" class="circle"></fa-icon>
                    <fa-icon [inverse]="true" [icon]="['far', 'search']" transform="shrink-7"></fa-icon>
                </fa-layers>
                <!-- <fa-icon [icon]="['far', 'search']" size="4x"></fa-icon> -->
              <h1>Find a recipe</h1>
              <p>Our website takes in millions of recipes from the internet and only displays the top-rated recipes.</p>
          </div>
          <div class="card">
              <!-- <span class="fa-stack fa-3x shoppingcartANDcircle">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="far fa-shopping-cart fa-stack-1x fa-inverse shoppingcart"></i>
              </span> -->
              <!-- <i class="far fa-shopping-cart fa-4x fa-inverse"></i> -->
            <fa-layers [fixedWidth]="true" size="5x">
                <fa-icon [icon]="['fas', 'circle']" class="circle"></fa-icon>
                <fa-icon [inverse]="true" [icon]="['far', 'shopping-cart']" transform="shrink-7" class="shopping-cart"></fa-icon>
            </fa-layers>
              <!-- <fa-icon [icon]="['far', 'shopping-cart']" size="4x"></fa-icon> -->
              <h1>Order items</h1>
              <p>Pick and choose which ingredients you need to get at the store. No need to over-stuff your
                  cupboards!</p>
          </div>
          <div class="card">
              <!-- <span class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fal fa-shipping-fast fa-stack-1x fa-inverse"></i>
              </span> -->
              <!-- <i class="fal fa-shipping-fast fa-4x"></i> -->
            <fa-layers [fixedWidth]="true" size="5x">
                <fa-icon [icon]="['fas', 'circle']" class="circle"></fa-icon>
                <fa-icon [inverse]="true" [icon]="['fal', 'shipping-fast']" transform="shrink-7"></fa-icon>
            </fa-layers>
              <!-- <fa-icon [icon]="['fal', 'shipping-fast']" size="4x"></fa-icon> -->
              <h1>Home delivery</h1>
              <p>Yes! You heard right! You don't even have to leave the house to pick up your groceries.
                  Incredible isn't?</p>
          </div>
      </div>
  </section>


  <section class="section-b" id="item">
      <p>hello!</p>
  </section>




  <section class="section-c" id="item">
      <p>hello!</p>
  </section>




  <address id="item">
      <p>hello!</p>
  </address>



  <footer id="item">
      <p>hello!</p>
  </footer>

</div>